#div_map {
	display: inline-block;
	padding-left: 15px;
	padding-right: 5px;
	margin-top: 50px;
	margin-left: 400px;
	border:1px solid #000;
}

#div_box {
	margin-left: 50px;
	display: inline-block;
	padding-left: 15px;
	padding-right: 15px;
	border:1px solid #000;
}

#map {
	letter-spacing: 10px;
}

#box {
	width: 200px;
}